USE [master]
GO
/****** Object:  Database [rentautomationdatabase]    Script Date: 26.04.2019 18:53:17 ******/
CREATE DATABASE [rentautomationdatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rentautomationdatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\rentautomationdatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'rentautomationdatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\rentautomationdatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rentautomationdatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rentautomationdatabase]
GO
/****** Object:  Table [dbo].[addresstable]    Script Date: 26.04.2019 18:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addresstable](
	[addressnumber] [int] IDENTITY(1,1) NOT NULL,
	[district] [nvarchar](255) NULL,
	[street] [nvarchar](255) NULL,
	[city] [nvarchar](255) NULL,
	[buildnumber] [int] NULL,
 CONSTRAINT [PK_addresstable] PRIMARY KEY CLUSTERED 
(
	[addressnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[companytable]    Script Date: 26.04.2019 18:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companytable](
	[companynumber] [int] IDENTITY(1,1) NOT NULL,
	[companyname] [nvarchar](255) NULL,
	[city] [nvarchar](50) NULL,
	[addressnumber] [int] NULL,
	[vehiclecount] [int] NULL,
	[rate] [int] NULL,
 CONSTRAINT [PK_companytable] PRIMARY KEY CLUSTERED 
(
	[companynumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[membertable]    Script Date: 26.04.2019 18:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[membertable](
	[membernumber] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[lastname] [nvarchar](50) NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[birthdate] [date] NULL,
	[age] [int] NULL,
 CONSTRAINT [PK_membertable] PRIMARY KEY CLUSTERED 
(
	[membernumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personneltable]    Script Date: 26.04.2019 18:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personneltable](
	[membernumber] [int] NULL,
	[companynumber] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[renttable]    Script Date: 26.04.2019 18:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[renttable](
	[rentnumber] [int] NOT NULL,
	[membernumber] [int] NULL,
	[vehiclenumber] [int] NULL,
	[rentdatebegin] [date] NULL,
	[rentdateend] [date] NULL,
	[beginkm] [int] NULL,
	[endkm] [int] NULL,
	[totalprice] [float] NULL,
 CONSTRAINT [PK_renttable] PRIMARY KEY CLUSTERED 
(
	[rentnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicletable]    Script Date: 26.04.2019 18:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicletable](
	[vehiclenumber] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[model] [nvarchar](50) NULL,
	[licenseage] [int] NULL,
	[minumumagelimit] [int] NULL,
	[dailykmlimit] [int] NULL,
	[currentkm] [int] NULL,
	[airbag] [bit] NULL,
	[trunkvolume] [float] NULL,
	[seatcount] [int] NULL,
	[dailyrentprice] [float] NULL,
	[companynumber] [int] NULL,
 CONSTRAINT [PK_vehicletable] PRIMARY KEY CLUSTERED 
(
	[vehiclenumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[companytable] ADD  CONSTRAINT [DF_companytable_rate]  DEFAULT ((0)) FOR [rate]
GO
ALTER TABLE [dbo].[companytable]  WITH CHECK ADD  CONSTRAINT [FK_companytable_addresstable] FOREIGN KEY([addressnumber])
REFERENCES [dbo].[addresstable] ([addressnumber])
GO
ALTER TABLE [dbo].[companytable] CHECK CONSTRAINT [FK_companytable_addresstable]
GO
ALTER TABLE [dbo].[personneltable]  WITH CHECK ADD  CONSTRAINT [FK_personneltable_companytable] FOREIGN KEY([companynumber])
REFERENCES [dbo].[companytable] ([companynumber])
GO
ALTER TABLE [dbo].[personneltable] CHECK CONSTRAINT [FK_personneltable_companytable]
GO
ALTER TABLE [dbo].[personneltable]  WITH CHECK ADD  CONSTRAINT [FK_personneltable_membertable] FOREIGN KEY([membernumber])
REFERENCES [dbo].[membertable] ([membernumber])
GO
ALTER TABLE [dbo].[personneltable] CHECK CONSTRAINT [FK_personneltable_membertable]
GO
ALTER TABLE [dbo].[vehicletable]  WITH CHECK ADD  CONSTRAINT [FK_vehicletable_companytable] FOREIGN KEY([companynumber])
REFERENCES [dbo].[companytable] ([companynumber])
GO
ALTER TABLE [dbo].[vehicletable] CHECK CONSTRAINT [FK_vehicletable_companytable]
GO
USE [master]
GO
